version: 2.1
orbs:
  aws-cli: circleci/aws-cli@1.3.2
  node: circleci/node@4.2.1

jobs:
  build:
    executor: node/default
    parameters:
      region:
        default: us-east-1
        type: string
    steps:
      - checkout
      - node/install-packages:
          app-dir: cdk/
      - run: 
          name: Typescript compile
          command: |
            cd cdk/
            npm run build
      - persist_to_workspace:
          root: .
          paths:
            - .
  deploy:
    executor: node/default
    steps:
      - attach_workspace:
          at: .
      - run: ls

workflows:
  development:
    unless:
      and:
      - equal: [main, <<pipeline.git.branch>>]
    jobs:
      - build
      - deploy:
          requires:
            - build
