version: 2.1
orbs:
  node: circleci/node@4.3.0
jobs:
  build:
    executor: node/default
    steps:
      - checkout
      - node/install-npm
      - node/install-packages:
          app-dir: cdk/
          cache-version: v2
      - run: 
          name: Typescript compile
          command: npm run build
          working_directory: cdk/
      - persist_to_workspace:
          root: .
          paths:
            - .
  deploy:
    executor: node/default
    parameters:
      region:
        default: us-east-1
        type: string
    environment:
      AWS_DEFAULT_REGION: <<parameters.region>>
      CDK_NEW_BOOTSTRAP: 1
    steps:
      - attach_workspace:
          at: .
      - setup_remote_docker:
          docker_layer_caching: false
      - run:
          name: Compile catalogs
          command: |
            cat catalogs/*.yml > fetch/catalog.yml
            cat catalogs/*.yml > invoke/catalog.yml
          working_directory: src
      - run: 
          name: CDK deploy
          command: npm run deploy
          working_directory: cdk
      - persist_to_workspace:
          root: .
          paths:
            - cdk/outputs.json
  upload_files:
    docker: 
      - image: amazon/aws-cli:latest
    steps:
      - run: yum install tar gzip jq -y
      - attach_workspace:
          at: .
      - run:
          name: Upload PySpark files
          command: |
            bucket=$(cat cdk/outputs.json | jq -r .DAPBaseStack.ProvisioningBucket)
            aws s3 cp src/provisioning/* s3://${bucket}/scripts/*
workflows:
  development:
    unless:
      and:
      - equal: [main, <<pipeline.git.branch>>]
    jobs:
      - build
      - deploy:
          region: us-east-1
          requires:
            - build
      - upload_files:
            requires:
              - deploy
  production:
    when:
      and:
      - equal: [main, <<pipeline.git.branch>>]
    jobs:
      - build
      - deploy:
          region: us-east-2
          requires:
            - build
      - upload_files:
          requires:
            - deploy